.footerpage{
    background-color: #1a1a1a;
    bottom: 0;
    // height: 200px;
    .borderclass{
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #FFFFFFB3;
        margin-bottom: 40px;
           .box-footer{
        margin-top:35px ;
        margin-bottom: 35px;
        h1{
            font-size: 16px;
            color: #FFFFFFB3;
            direction: ltr;
            font-weight: normal;
        }
h6{
    font-size: 13.5px;
    color: #FFFFFFB3;
    direction: ltr;
    font-weight: normal;
}
    }
    }
 
}